[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

collation-server = utf8_unicode_ci
character-set-server = utf8

slow_query_log =1
slow_query_log_file=/var/lib/mysql/mysql_slow.log
long_query_time=2
log_queries_not_using_indexes=1

# Production 最好關掉, 會影響效能
general_log=1
general_log_file=/var/lib/mysql/mysql_general.log
log_output=FILE

max_connections = 1000

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
